<!-- This partial file is accessed by the application.html.erb and rendered-->
<div id="push"></div>
   <footer class="footer navbar-fixed-bottom">
     <div class="container">
       <nav>
           <ul><p>©2018 All rights unrestricted</p></ul>
       </nav>
     </div>
   </footer>
