<h1>FOOD WASTE AWARENESS HOMEPAGE!!!</h1>
<%= link_to "Feedbacks", feebacks_path %>
<%= link_to "Search", search_path %>
<%= link_to "Login", login_path %>
<p>This will be the homepage for the Food Waste Awareness Project</p>
