<h5>CONTROL FEEDBACKS/APPLICATIONS</h5>

<style type = "text/css">
	#search{
	width: 200px;
	padding: 7px;
	border: 1px solid #333

	}
	#submit {
	padding: 7px;
	background: red;

	}
</style>

<body>
<form>
	<input type="text" placeholder="Search..." maxlength="20" id "search">
	<input type="submit" value="Go" id "submit">



<div>
	Feedback1/Application1: <input type="submit" float="right" value="Edit / View" name="submit"/><br/>

	 Feedback2/Application2: <input type="submit" float="right" value="Edit / View" name="submit"/><br/>

	 Feedback3/Application3: <input type="submit" float="right" value="Edit / View" name="submit"/><br/>

	 Feedback4/Application4: <input type="submit" float="right" value="Edit / View" name="submit"/><br/>

	 Feedback5/Application5: <input type="submit" float="right" value="Edit / View" name="submit"/><br/>
	</div>
</body>
