<head>
        <title>FOOD WASTE AWARENESS</title>

	<style type = "text/css">
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		    }
	</style>
</head>

<body>
   <img class="logo" src="https://www.shareable.net/sites/default/files/FTGTW_0.jpg" height="500"/>
<p> </p>
        <p><strong><i><em><font size="4"><font color="#04B431">
Food scarcity is a significant issue in today's world where 15 percent of America's population is under poverty. Welcome to the Food Waste Awareness website that provides people the opportunity to give feedback to restaurants based on their order to preserve food for future orders and reduce hunger. 
      </font> </font></em></i></strong></p>
</body>
