<h1>FEEDBACK FORM</h1>

<div>
	<form action="post.php" method="post">
		Food Order: <input type="text" name="order" placeholder="Enter Order" required/>
		Food Waste Amount: <input type="text" float="right" name="waste" placeholder="Enter food waste" required/>
	</form>
</div>

<div>
        <form action="post.php" method="post">
                Food Amount: <input type="text" name="amount" placeholder="Enter amount" required/>
                Restaurant Name: <input type="text" float="right" name="name" placeholder="Enter name" required/>
        </form>
</div>

<div>
        <form action="post.php" method="post">
                Feedback: <input type="text" style="width: 500px; height 250px;" name="feed" maxlength="50" placeholder="Enter feedback" required/>
        </div>
	<input type="submit" float="right" value="Submit Feedback" name="submit"/>	
	</form>
