<head>
        <title>FOOD WASTE AWARENESS</title>
</head>

        <body>
            <img class="logo" align="middle" src="https://www.shareable.net/sites/default/files/FTGTW_0.jpg">

                <form>
			<%= link_to "Organizers: Create an account", welcome_login_path %>
                </form>
           </div>
        </body>

