<h1>Edit Feedback</h1>

<%= render 'form', feedback: @feedback %>

<%= link_to 'Show', @feedback, class: 'btn btn-mini btn-default' %> |
<%= link_to 'Back', feedbacks_path, class: 'btn btn-mini btn-info' %>
