<%= form_for([@feedback, @feedback.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit :Send_email %>
  </div>
<% end %>
